body {
    font-family: var(--font-montserrat);
    font-size: 16px;
    max-width: 85.375rem;
    margin: 0 auto;
    border: 1px solid purple;
}

.header {
    width: 100%;
    padding: 2rem 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0rem 6rem 0rem 3rem;
}

.transacoes-card {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.transacoes-item {
    display: flex;
    align-items: center;
}

.transacoes-item i {
    padding: 0 10px;
    color: #cdcfcf;
}

ul .titulo__transacoes-item {
    font-size: 0.58rem;
    color: var(--font-silver-light);
    text-transform: uppercase;
}

ul .valor__transacoes-item {
    color: var(--font-silver-medium);
    font-weight: 800;
}

#arrow-down {
    color: #5D41AC;
}

#menu-mobile {
    background-color: #5D41AC;
    border-radius: 50%;
}