body{
    font-family: var(--font-montserrat);
    font-size: 16px;
}
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0 auto;
    padding: 1rem;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    min-width: 50%;
}

.transacoes-card {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.transacoes-item {
    display: flex;
    align-items: center;
}

.transacoes-item i {
    padding: 0 10px;
    color: #cdcfcf;
}

ul .titulo__transacoes-item{
    font-size: 0.58rem;
    color: #8F989D;
    text-transform: uppercase;
}

ul .valor__transacoes-item{
    color: var(--font-silver-medium);
    font-weight: 800;
}

#arrow-down {
    color: #5D41AC;
}

#menu-mobile {
    background-color: #5D41AC;
    border-radius: 50%;
}