.main {
    width: auto;
    margin-left: 14.169rem;
    background-color: #EEF2F4;
}

.titulo_renda-fixa h1 {
    color: #4C309B;
    font-weight: 600;
    padding: 1rem 1rem 0;
}

.cards-valores__header {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1rem;
}

.cards {
    width: 11rem;
    height: 3.5rem;
    background-color: #fff;
    border-radius: 10px;
}


.titulo-cards {
    font-size: 10pt;
    color: var(--font-silver-light);
    padding: 10px 0 0 25px;
}

.preco-card {
    font-size: 11pt;
    color: #4C309B;
    font-weight: 600;
    padding: 10px 0 0 25px;
}

.section__dashboard {
    padding: 1rem;
}

.titulo-rentabilidade h1 {
    color: var(--font-silver-medium);
    padding: 1rem;
}

.card-dashboard__section {
    background-color: #fff;
    height: 10rem;
    border-radius: 10px;
    font-size: 17px;
}