.main {
    width: auto;
    margin-left: 17rem;
    background-color: #EEF2F4;
    /* border: 1px solid red; */
}

.titulo_renda-fixa h1 {
    color: #4C309B;
    font-weight: 600;
    padding: 0rem 2rem;
}

.cards-valores__header {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 1rem 2rem;
}

.cards {
    /* display: flex; */
    width: 11rem;
    height: 3.5rem;
    background-color: #fff;
    border: 1px solid orange;
}


.titulo-cards {
    font-size: 10pt;
    color: var(--font-silver-light);
    padding: 10px 0 0 25px;
}

.preco-card {
    font-size: 11pt;
    color: #4C309B;
    font-weight: 600;
    padding: 10px 0 0 25px;
}