.sidebar {
    width: 14.169rem;
    height: 100vh;
    position: absolute;
    border: 1px solid silver;
}

.card__sidebar {
    height: 4.19;
    border-bottom: 1px solid silver;
}

.card__sidebar-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0;
}

.card__sidebar-list:hover{
    background-color: rgba(226, 226, 226,.3);
    cursor: pointer;
}

.card__sidebar-list img {
    width: 2rem;
    height: 2rem;
    margin-left: 10px;
}

.card__sidebar-item {
    display: flex;
    width: 10rem;
    align-items: center;
    justify-content: space-between;
}

.card__sidebar-item li {
    width: 4.7rem;
    height: 2rem;
    font-size: 13px;
    color: var(--font-silver-medium);
    text-transform: capitalize;
    line-height: 1rem;
}

.card__sidebar-item li:hover{
    color: var(--font-silver-bold-header);
    cursor: pointer;
}