:root{
    --font-purple-medium:#4C309B;
    --background-silver:#EEF2F4;
    --background-header-white:#FFF;
    --border-section-minhas-rendas:#0000000A;
    --border-card-minhas-rendas:#F8FAFB;
    --font-silver-medium-sidebar:#707B81;
    --font-silver-bold-header:#4E5B61;
    --font-silver-medium-products:#A5A5A5;
    --color-orange-graphic:#FF8052;
    --font-green-prices-results:#38BFA0;
    --font-purple-light:#8A51BA;
}
